<?php

$configs = array(
	'site' => array(
		'base_uri' => '/',
	),
    'auth' => array(
        'salt'      => '',
    ),
    'blacklist'    => array(
        'hours'    => 24,
        'count'    => 3,
    ),
    'db'   => array(
        'username' => '',
        'password' => '',
        'database' => '',
        'hostname' => '',
    ),
);
